<html lang="en">
<head>
    {% block title %}Flasky{% endblock %}

    {% block head %}
    <link 
        type="image/png" 
        sizes="16x16" 
        rel="icon" href="{{ url_for ('static', filename = 'favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    {% endblock %}
        
    {% block navbar %}
    {% include "navbar.html" %}
    {% endblock %}

</head>
<body>
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}    
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}
        {% endblock %}
    </div>
    {% endblock %}
    <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>
